* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: max(calc(var(--vh, 1vh) * 100), 100%);
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    #f8e8ee 0.01%,
    #e6e6fa 50%,
    #d2e1ff 99.99%
  );
}

:root {
  --Surface-Surface-10: #fff;
  --Surface-Surface-20: #f0f2f5;
  --Surface-Surface-30: #e6e9f0;

  --Background: linear-gradient(
    180deg,
    #f8e8ee 0.01%,
    #e6e6fa 50%,
    #d2e1ff 99.99%
  );

  --Gap-6: 6px;
  --Gap-8: 8px;
  --Gap-12: 12px;
  --Gap-16: 16px;
  --Gap-20: 20px;
  --Gap-24: 24px;
  --Gap-48: 48px;

  --Radius-8: 8px;
  --Radius-14: 14px;
  --Radius-Max: 999px;

  --Body-Body-2-Size: 16px;

  --Grayscale-Grayscale-60: #5d677a;
  --Grayscale-Grayscale-80: #212329;
  --Grayscale-Translucence-Grayscale-50-Translucence: rgba(146, 155, 173, 0.2);

  --Text-Text-10: #212329;
  --Text-Text-20: #5d677a;
  --Text-Text-30: #929bad;

  --Text-Text-OnColor: #fff;

  --Emotions-Dreamy: #b979ff;
}
